<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidate-comment-heading" jhiTranslate="jhipsterRecruitmentApp.candidateComment.home.createOrEditLabel">Create or edit a Candidate Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidateComment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidateComment.context" for="field_context">Context</label>
                    <input type="text" class="form-control" name="context" id="field_context"
                           formControlName="context"/>
                    <div *ngIf="editForm.get('context').invalid && (editForm.get('context').dirty || editForm.get('context').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('context').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidateComment.commenter" for="field_commenter">Commenter</label>
                    <input type="text" class="form-control" name="commenter" id="field_commenter"
                           formControlName="commenter"/>
                    <div *ngIf="editForm.get('commenter').invalid && (editForm.get('commenter').dirty || editForm.get('commenter').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commenter').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidateComment.candidate" for="field_candidate">Candidate</label>
                    <select class="form-control" id="field_candidate" name="candidate" formControlName="candidateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id" *ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
