<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidateComment">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.detail.title">Candidate Comment</span> {{candidateComment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.context">Context</span></dt>
                <dd>
                    <span>{{candidateComment.context}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.commenter">Commenter</span></dt>
                <dd>
                    <span>{{candidateComment.commenter}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.candidate">Candidate</span></dt>
                <dd>
                    <div *ngIf="candidateComment.candidateId">
                        <a [routerLink]="['/candidate', candidateComment.candidateId, 'view']">{{candidateComment.candidateId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate-comment', candidateComment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
