<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.candidateComment.home.title">Candidate Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate-comment" [routerLink]="['/candidate-comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.candidateComment.home.createLabel">
            Create new Candidate Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="candidateComments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.context">Context</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.commenter">Commenter</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.candidateComment.candidate">Candidate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidateComment of candidateComments ;trackBy: trackId">
                <td><a [routerLink]="['/candidate-comment', candidateComment.id, 'view' ]">{{candidateComment.id}}</a></td>
                <td>{{candidateComment.context}}</td>
                <td>{{candidateComment.commenter}}</td>
                <td>
                    <div *ngIf="candidateComment.candidateId">
                        <a [routerLink]="['../candidate', candidateComment.candidateId , 'view' ]" >{{candidateComment.candidateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/candidate-comment', candidateComment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate-comment', candidateComment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'candidate-comment', { outlets: { popup: candidateComment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
