<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidate-sub-class-heading" jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.home.createOrEditLabel">Create or edit a Candidate Sub Class</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidateSubClass.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.candidateType" for="field_candidateType">Candidate Type</label>
                    <select class="form-control" name="candidateType" formControlName="candidateType" id="field_candidateType">
                        <option value="FREELANCE">{{'jhipsterRecruitmentApp.CandidateType.FREELANCE' | translate}}</option>
                        <option value="INTERN">{{'jhipsterRecruitmentApp.CandidateType.INTERN' | translate}}</option>
                        <option value="PAYROLL">{{'jhipsterRecruitmentApp.CandidateType.PAYROLL' | translate}}</option>
                        <option value="STUDENT">{{'jhipsterRecruitmentApp.CandidateType.STUDENT' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
