<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidateSubClass">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.detail.title">Candidate Sub Class</span> {{candidateSubClass.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.candidateType">Candidate Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidateType.' + candidateSubClass.candidateType}}">{{candidateSubClass.candidateType}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate-sub-class', candidateSubClass.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
