<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.home.title">Candidate Sub Classes</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate-sub-class" [routerLink]="['/candidate-sub-class/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.home.createLabel">
            Create new Candidate Sub Class
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="candidateSubClasses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.candidateSubClass.candidateType">Candidate Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidateSubClass of candidateSubClasses ;trackBy: trackId">
                <td><a [routerLink]="['/candidate-sub-class', candidateSubClass.id, 'view' ]">{{candidateSubClass.id}}</a></td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidateType.' + candidateSubClass.candidateType}}">{{candidateSubClass.candidateType}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/candidate-sub-class', candidateSubClass.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate-sub-class', candidateSubClass.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'candidate-sub-class', { outlets: { popup: candidateSubClass.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
