<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feedbackAnswer">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.detail.title">Feedback Answer</span> {{feedbackAnswer.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.answer">Answer</span></dt>
                <dd>
                    <span>{{feedbackAnswer.answer}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.feedbackQuestion">Feedback Question</span></dt>
                <dd>
                    <div *ngIf="feedbackAnswer.feedbackQuestionId">
                        <a [routerLink]="['/feedback-question', feedbackAnswer.feedbackQuestionId, 'view']">{{feedbackAnswer.feedbackQuestionId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.candidacy">Candidacy</span></dt>
                <dd>
                    <div *ngIf="feedbackAnswer.candidacyId">
                        <a [routerLink]="['/candidacy', feedbackAnswer.candidacyId, 'view']">{{feedbackAnswer.candidacyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feedback-answer', feedbackAnswer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
