<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.home.title">Feedback Answers</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feedback-answer" [routerLink]="['/feedback-answer/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.home.createLabel">
            Create new Feedback Answer
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="feedbackAnswers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.answer">Answer</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.feedbackQuestion">Feedback Question</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.candidacy">Candidacy</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feedbackAnswer of feedbackAnswers ;trackBy: trackId">
                <td><a [routerLink]="['/feedback-answer', feedbackAnswer.id, 'view' ]">{{feedbackAnswer.id}}</a></td>
                <td>{{feedbackAnswer.answer}}</td>
                <td>
                    <div *ngIf="feedbackAnswer.feedbackQuestionId">
                        <a [routerLink]="['../feedback-question', feedbackAnswer.feedbackQuestionId , 'view' ]" >{{feedbackAnswer.feedbackQuestionId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="feedbackAnswer.candidacyId">
                        <a [routerLink]="['../candidacy', feedbackAnswer.candidacyId , 'view' ]" >{{feedbackAnswer.candidacyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/feedback-answer', feedbackAnswer.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feedback-answer', feedbackAnswer.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'feedback-answer', { outlets: { popup: feedbackAnswer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
