<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-feedback-answer-heading" jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.home.createOrEditLabel">Create or edit a Feedback Answer</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!feedbackAnswer.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.answer" for="field_answer">Answer</label>
                    <input type="text" class="form-control" name="answer" id="field_answer"
                           formControlName="answer"/>
                    <div *ngIf="editForm.get('answer').invalid && (editForm.get('answer').dirty || editForm.get('answer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('answer').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.feedbackQuestion" for="field_feedbackQuestion">Feedback Question</label>
                    <select class="form-control" id="field_feedbackQuestion" name="feedbackQuestion" formControlName="feedbackQuestionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="feedbackQuestionOption.id" *ngFor="let feedbackQuestionOption of feedbackquestions; trackBy: trackFeedbackQuestionById">{{feedbackQuestionOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.feedbackAnswer.candidacy" for="field_candidacy">Candidacy</label>
                    <select class="form-control" id="field_candidacy" name="candidacy" formControlName="candidacyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidacyOption.id" *ngFor="let candidacyOption of candidacies; trackBy: trackCandidacyById">{{candidacyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
