<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contactMoment">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.detail.title">Contact Moment</span> {{contactMoment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactType">Contact Type</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.ContactType.' + contactMoment.contactType}}">{{contactMoment.contactType}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactDate">Contact Date</span></dt>
                <dd>
                    <span>{{contactMoment.contactDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactContext">Contact Context</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.ContactContext.' + contactMoment.contactContext}}">{{contactMoment.contactContext}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.interviewer">Interviewer</span></dt>
                <dd>
                    <span>{{contactMoment.interviewer}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.location">Location</span></dt>
                <dd>
                    <span>{{contactMoment.location}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidacy">Candidacy</span></dt>
                <dd>
                    <div *ngIf="contactMoment.candidacyId">
                        <a [routerLink]="['/candidacy', contactMoment.candidacyId, 'view']">{{contactMoment.candidacyId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidate">Candidate</span></dt>
                <dd>
                    <div *ngIf="contactMoment.candidateId">
                        <a [routerLink]="['/candidate', contactMoment.candidateId, 'view']">{{contactMoment.candidateId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contact-moment', contactMoment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
