<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.contactMoment.home.title">Contact Moments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact-moment" [routerLink]="['/contact-moment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.contactMoment.home.createLabel">
            Create new Contact Moment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="contactMoments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactType">Contact Type</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactDate">Contact Date</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactContext">Contact Context</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.interviewer">Interviewer</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.location">Location</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidacy">Candidacy</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidate">Candidate</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let contactMoment of contactMoments ;trackBy: trackId">
                <td><a [routerLink]="['/contact-moment', contactMoment.id, 'view' ]">{{contactMoment.id}}</a></td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.ContactType.' + contactMoment.contactType}}">{{contactMoment.contactType}}</td>
                <td>{{contactMoment.contactDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.ContactContext.' + contactMoment.contactContext}}">{{contactMoment.contactContext}}</td>
                <td>{{contactMoment.interviewer}}</td>
                <td>{{contactMoment.location}}</td>
                <td>
                    <div *ngIf="contactMoment.candidacyId">
                        <a [routerLink]="['../candidacy', contactMoment.candidacyId , 'view' ]" >{{contactMoment.candidacyId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="contactMoment.candidateId">
                        <a [routerLink]="['../candidate', contactMoment.candidateId , 'view' ]" >{{contactMoment.candidateId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/contact-moment', contactMoment.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/contact-moment', contactMoment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'contact-moment', { outlets: { popup: contactMoment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
