<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-contact-moment-heading" jhiTranslate="jhipsterRecruitmentApp.contactMoment.home.createOrEditLabel">Create or edit a Contact Moment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contactMoment.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactType" for="field_contactType">Contact Type</label>
                    <select class="form-control" name="contactType" formControlName="contactType" id="field_contactType">
                        <option value="PHONE_CALL">{{'jhipsterRecruitmentApp.ContactType.PHONE_CALL' | translate}}</option>
                        <option value="INTERVIEW">{{'jhipsterRecruitmentApp.ContactType.INTERVIEW' | translate}}</option>
                        <option value="MAIL">{{'jhipsterRecruitmentApp.ContactType.MAIL' | translate}}</option>
                        <option value="VIDEO_CALL">{{'jhipsterRecruitmentApp.ContactType.VIDEO_CALL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('contactType').invalid && (editForm.get('contactType').dirty || editForm.get('contactType').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactType').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactDate" for="field_contactDate">Contact Date</label>
                    <div class="input-group">
                        <input id="field_contactDate" type="text" class="form-control" name="contactDate" ngbDatepicker  #contactDateDp="ngbDatepicker" formControlName="contactDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="contactDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('contactDate').invalid && (editForm.get('contactDate').dirty || editForm.get('contactDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.contactContext" for="field_contactContext">Contact Context</label>
                    <select class="form-control" name="contactContext" formControlName="contactContext" id="field_contactContext">
                        <option value="INTRODUCTION">{{'jhipsterRecruitmentApp.ContactContext.INTRODUCTION' | translate}}</option>
                        <option value="FIRST_MEETING">{{'jhipsterRecruitmentApp.ContactContext.FIRST_MEETING' | translate}}</option>
                        <option value="SECOND_MEETING">{{'jhipsterRecruitmentApp.ContactContext.SECOND_MEETING' | translate}}</option>
                        <option value="CONTRACT_NEGOTIATION">{{'jhipsterRecruitmentApp.ContactContext.CONTRACT_NEGOTIATION' | translate}}</option>
                        <option value="TECHNICAL">{{'jhipsterRecruitmentApp.ContactContext.TECHNICAL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('contactContext').invalid && (editForm.get('contactContext').dirty || editForm.get('contactContext').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('contactContext').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.interviewer" for="field_interviewer">Interviewer</label>
                    <input type="text" class="form-control" name="interviewer" id="field_interviewer"
                           formControlName="interviewer"/>
                    <div *ngIf="editForm.get('interviewer').invalid && (editForm.get('interviewer').dirty || editForm.get('interviewer').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('interviewer').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidacy" for="field_candidacy">Candidacy</label>
                    <select class="form-control" id="field_candidacy" name="candidacy" formControlName="candidacyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidacyOption.id" *ngFor="let candidacyOption of candidacies; trackBy: trackCandidacyById">{{candidacyOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.contactMoment.candidate" for="field_candidate">Candidate</label>
                    <select class="form-control" id="field_candidate" name="candidate" formControlName="candidateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id" *ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
