<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidate-heading" jhiTranslate="jhipsterRecruitmentApp.candidate.home.createOrEditLabel">Create or edit a Candidate</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidate.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                    <div *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('name').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.phone" for="field_phone">Phone</label>
                    <input type="text" class="form-control" name="phone" id="field_phone"
                           formControlName="phone"/>
                    <div *ngIf="editForm.get('phone').invalid && (editForm.get('phone').dirty || editForm.get('phone').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('phone').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                    <div *ngIf="editForm.get('email').invalid && (editForm.get('email').dirty || editForm.get('email').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('email').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.candidateStatus" for="field_candidateStatus">Candidate Status</label>
                    <select class="form-control" name="candidateStatus" formControlName="candidateStatus" id="field_candidateStatus">
                        <option value="NEW_APPLICANT">{{'jhipsterRecruitmentApp.CandidateStatus.NEW_APPLICANT' | translate}}</option>
                        <option value="SCREENING_ONGOING">{{'jhipsterRecruitmentApp.CandidateStatus.SCREENING_ONGOING' | translate}}</option>
                        <option value="HIRED">{{'jhipsterRecruitmentApp.CandidateStatus.HIRED' | translate}}</option>
                        <option value="RECRUITMENT_POOL">{{'jhipsterRecruitmentApp.CandidateStatus.RECRUITMENT_POOL' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.candidateFunction" for="field_candidateFunction">Candidate Function</label>
                    <select class="form-control" name="candidateFunction" formControlName="candidateFunction" id="field_candidateFunction">
                        <option value="JAVA_DEVELOPER">{{'jhipsterRecruitmentApp.CandidateFuntion.JAVA_DEVELOPER' | translate}}</option>
                        <option value="SALES_MANAGER">{{'jhipsterRecruitmentApp.CandidateFuntion.SALES_MANAGER' | translate}}</option>
                        <option value="BUSINESS_ANALYST">{{'jhipsterRecruitmentApp.CandidateFuntion.BUSINESS_ANALYST' | translate}}</option>
                        <option value="DEVOPS_ENGINEER">{{'jhipsterRecruitmentApp.CandidateFuntion.DEVOPS_ENGINEER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('candidateFunction').invalid && (editForm.get('candidateFunction').dirty || editForm.get('candidateFunction').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('candidateFunction').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.dateAvailable" for="field_dateAvailable">Date Available</label>
                    <input type="text" class="form-control" name="dateAvailable" id="field_dateAvailable"
                           formControlName="dateAvailable"/>
                    <div *ngIf="editForm.get('dateAvailable').invalid && (editForm.get('dateAvailable').dirty || editForm.get('dateAvailable').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateAvailable').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.imageContent" for="field_imageContent">Image Content</label>
                    <div>
                        <img [src]="'data:' + editForm.get('imageContentContentType').value + ';base64,' + editForm.get('imageContent').value" style="max-height: 100px;" *ngIf="editForm.get('imageContent').value" alt="candidate image"/>
                        <div *ngIf="editForm.get('imageContent').value" class="form-text text-danger clearfix">
                            <span class="pull-left">{{editForm.get('imageContentContentType').value}}, {{byteSize(editForm.get('imageContent').value)}}</span>
                            <button type="button" (click)="clearInputImage('imageContent', 'imageContentContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_imageContent" (change)="setFileData($event, 'imageContent', true)" accept="image/*" jhiTranslate="entity.action.addimage"/>
                    </div>
                    <input type="hidden" class="form-control" name="imageContent" id="field_imageContent"
                           formControlName="imageContent"/>
                    <input type="hidden" class="form-control" name="imageContentContentType" id="field_imageContentContentType"
                           formControlName="imageContentContentType" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.candidateTrack" for="field_candidateTrack">Candidate Track</label>
                    <select class="form-control" name="candidateTrack" formControlName="candidateTrack" id="field_candidateTrack">
                        <option value="BUSINESS">{{'jhipsterRecruitmentApp.CandidateTrack.BUSINESS' | translate}}</option>
                        <option value="TECHNICAL">{{'jhipsterRecruitmentApp.CandidateTrack.TECHNICAL' | translate}}</option>
                        <option value="GENERAL">{{'jhipsterRecruitmentApp.CandidateTrack.GENERAL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('candidateTrack').invalid && (editForm.get('candidateTrack').dirty || editForm.get('candidateTrack').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('candidateTrack').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.recruitmentChannel" for="field_recruitmentChannel">Recruitment Channel</label>
                    <select class="form-control" name="recruitmentChannel" formControlName="recruitmentChannel" id="field_recruitmentChannel">
                        <option value="WEBSITE">{{'jhipsterRecruitmentApp.RecruitmentChannel.WEBSITE' | translate}}</option>
                        <option value="SOCIAL_MEDIA">{{'jhipsterRecruitmentApp.RecruitmentChannel.SOCIAL_MEDIA' | translate}}</option>
                        <option value="JOB_FAIRS">{{'jhipsterRecruitmentApp.RecruitmentChannel.JOB_FAIRS' | translate}}</option>
                        <option value="INTERNSHIP">{{'jhipsterRecruitmentApp.RecruitmentChannel.INTERNSHIP' | translate}}</option>
                        <option value="REFERRAL">{{'jhipsterRecruitmentApp.RecruitmentChannel.REFERRAL' | translate}}</option>
                        <option value="JOB_SITE">{{'jhipsterRecruitmentApp.RecruitmentChannel.JOB_SITE' | translate}}</option>
                        <option value="OTHER">{{'jhipsterRecruitmentApp.RecruitmentChannel.OTHER' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('recruitmentChannel').invalid && (editForm.get('recruitmentChannel').dirty || editForm.get('recruitmentChannel').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('recruitmentChannel').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.linkedInProfilePath" for="field_linkedInProfilePath">Linked In Profile Path</label>
                    <input type="text" class="form-control" name="linkedInProfilePath" id="field_linkedInProfilePath"
                           formControlName="linkedInProfilePath"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.document" for="field_document">Document</label>
                    <select class="form-control" id="field_document" name="document" formControlName="documentId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="documentOption.id" *ngFor="let documentOption of documents; trackBy: trackDocumentById">{{documentOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidate.subClass" for="field_subClass">Sub Class</label>
                    <select class="form-control" id="field_subClass" name="subClass" formControlName="subClassId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateSubClassOption.id" *ngFor="let candidateSubClassOption of candidatesubclasses; trackBy: trackCandidateSubClassById">{{candidateSubClassOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
