<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidate">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.candidate.detail.title">Candidate</span> {{candidate.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.name">Name</span></dt>
                <dd>
                    <span>{{candidate.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.phone">Phone</span></dt>
                <dd>
                    <span>{{candidate.phone}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.email">Email</span></dt>
                <dd>
                    <span>{{candidate.email}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateStatus">Candidate Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidateStatus.' + candidate.candidateStatus}}">{{candidate.candidateStatus}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateFunction">Candidate Function</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidateFuntion.' + candidate.candidateFunction}}">{{candidate.candidateFunction}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.dateAvailable">Date Available</span></dt>
                <dd>
                    <span>{{candidate.dateAvailable}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.imageContent">Image Content</span></dt>
                <dd>
                    <div *ngIf="candidate.imageContent">
                        <a (click)="openFile(candidate.imageContentContentType, candidate.imageContent)">
                            <img [src]="'data:' + candidate.imageContentContentType + ';base64,' + candidate.imageContent" style="max-width: 100%;" alt="candidate image"/>
                        </a>
                        {{candidate.imageContentContentType}}, {{byteSize(candidate.imageContent)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateTrack">Candidate Track</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidateTrack.' + candidate.candidateTrack}}">{{candidate.candidateTrack}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.recruitmentChannel">Recruitment Channel</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.RecruitmentChannel.' + candidate.recruitmentChannel}}">{{candidate.recruitmentChannel}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.linkedInProfilePath">Linked In Profile Path</span></dt>
                <dd>
                    <span>{{candidate.linkedInProfilePath}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.document">Document</span></dt>
                <dd>
                    <div *ngIf="candidate.documentId">
                        <a [routerLink]="['/document', candidate.documentId, 'view']">{{candidate.documentId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidate.subClass">Sub Class</span></dt>
                <dd>
                    <div *ngIf="candidate.subClassId">
                        <a [routerLink]="['/candidate-sub-class', candidate.subClassId, 'view']">{{candidate.subClassId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidate', candidate.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
