<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.candidate.home.title">Candidates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate" [routerLink]="['/candidate/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.candidate.home.createLabel">
            Create new Candidate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="candidates">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="name"><span jhiTranslate="jhipsterRecruitmentApp.candidate.name">Name</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="phone"><span jhiTranslate="jhipsterRecruitmentApp.candidate.phone">Phone</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="email"><span jhiTranslate="jhipsterRecruitmentApp.candidate.email">Email</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidateStatus"><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateStatus">Candidate Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidateFunction"><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateFunction">Candidate Function</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dateAvailable"><span jhiTranslate="jhipsterRecruitmentApp.candidate.dateAvailable">Date Available</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="imageContent"><span jhiTranslate="jhipsterRecruitmentApp.candidate.imageContent">Image Content</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidateTrack"><span jhiTranslate="jhipsterRecruitmentApp.candidate.candidateTrack">Candidate Track</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="recruitmentChannel"><span jhiTranslate="jhipsterRecruitmentApp.candidate.recruitmentChannel">Recruitment Channel</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="linkedInProfilePath"><span jhiTranslate="jhipsterRecruitmentApp.candidate.linkedInProfilePath">Linked In Profile Path</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="documentId"><span jhiTranslate="jhipsterRecruitmentApp.candidate.document">Document</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="subClassId"><span jhiTranslate="jhipsterRecruitmentApp.candidate.subClass">Sub Class</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                <td><a [routerLink]="['/candidate', candidate.id, 'view' ]">{{candidate.id}}</a></td>
                <td>{{candidate.name}}</td>
                <td>{{candidate.phone}}</td>
                <td>{{candidate.email}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidateStatus.' + candidate.candidateStatus}}">{{candidate.candidateStatus}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidateFuntion.' + candidate.candidateFunction}}">{{candidate.candidateFunction}}</td>
                <td>{{candidate.dateAvailable}}</td>
                <td>
                    <a *ngIf="candidate.imageContent" (click)="openFile(candidate.imageContentContentType, candidate.imageContent)">
                        <img [src]="'data:' + candidate.imageContentContentType + ';base64,' + candidate.imageContent" style="max-height: 30px;" alt="candidate image"/>
                    </a>
                    <span *ngIf="candidate.imageContent">{{candidate.imageContentContentType}}, {{byteSize(candidate.imageContent)}}</span>
                </td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidateTrack.' + candidate.candidateTrack}}">{{candidate.candidateTrack}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.RecruitmentChannel.' + candidate.recruitmentChannel}}">{{candidate.recruitmentChannel}}</td>
                <td>{{candidate.linkedInProfilePath}}</td>
                <td>
                    <div *ngIf="candidate.documentId">
                        <a [routerLink]="['../document', candidate.documentId , 'view' ]" >{{candidate.documentId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="candidate.subClassId">
                        <a [routerLink]="['../candidate-sub-class', candidate.subClassId , 'view' ]" >{{candidate.subClassId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate', candidate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'candidate', { outlets: { popup: candidate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="candidates && candidates.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
