<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.feedbackQuestion.home.title">Feedback Questions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-feedback-question" [routerLink]="['/feedback-question/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.feedbackQuestion.home.createLabel">
            Create new Feedback Question
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="feedbackQuestions">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="jhipsterRecruitmentApp.feedbackQuestion.question">Question</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let feedbackQuestion of feedbackQuestions ;trackBy: trackId">
                <td><a [routerLink]="['/feedback-question', feedbackQuestion.id, 'view' ]">{{feedbackQuestion.id}}</a></td>
                <td>{{feedbackQuestion.question}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/feedback-question', feedbackQuestion.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/feedback-question', feedbackQuestion.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'feedback-question', { outlets: { popup: feedbackQuestion.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
