<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="feedbackQuestion">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.feedbackQuestion.detail.title">Feedback Question</span> {{feedbackQuestion.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.feedbackQuestion.question">Question</span></dt>
                <dd>
                    <span>{{feedbackQuestion.question}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/feedback-question', feedbackQuestion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
