<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="candidacy">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.candidacy.detail.title">Candidacy</span> {{candidacy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidacy.candidacyStatus">Candidacy Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidacyStatus.' + candidacy.candidacyStatus}}">{{candidacy.candidacyStatus}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidacy.motivation">Motivation</span></dt>
                <dd>
                    <span>{{candidacy.motivation}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidacy.candidate">Candidate</span></dt>
                <dd>
                    <div *ngIf="candidacy.candidateId">
                        <a [routerLink]="['/candidate', candidacy.candidateId, 'view']">{{candidacy.candidateId}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.candidacy.vacancy">Vacancy</span></dt>
                <dd>
                    <div *ngIf="candidacy.vacancyId">
                        <a [routerLink]="['/vacancy', candidacy.vacancyId, 'view']">{{candidacy.vacancyId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/candidacy', candidacy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
