<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-candidacy-heading" jhiTranslate="jhipsterRecruitmentApp.candidacy.home.createOrEditLabel">Create or edit a Candidacy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!candidacy.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidacy.candidacyStatus" for="field_candidacyStatus">Candidacy Status</label>
                    <select class="form-control" name="candidacyStatus" formControlName="candidacyStatus" id="field_candidacyStatus">
                        <option value="CV_SCREENING_HR">{{'jhipsterRecruitmentApp.CandidacyStatus.CV_SCREENING_HR' | translate}}</option>
                        <option value="TELEPHONE_INTAKE">{{'jhipsterRecruitmentApp.CandidacyStatus.TELEPHONE_INTAKE' | translate}}</option>
                        <option value="REFERENCE_CALL">{{'jhipsterRecruitmentApp.CandidacyStatus.REFERENCE_CALL' | translate}}</option>
                        <option value="F2F_SCREENING_HR">{{'jhipsterRecruitmentApp.CandidacyStatus.F2F_SCREENING_HR' | translate}}</option>
                        <option value="TECHNICAL_INTERVIEW">{{'jhipsterRecruitmentApp.CandidacyStatus.TECHNICAL_INTERVIEW' | translate}}</option>
                        <option value="MT_DISCUSSION">{{'jhipsterRecruitmentApp.CandidacyStatus.MT_DISCUSSION' | translate}}</option>
                        <option value="NOT_SELECTED">{{'jhipsterRecruitmentApp.CandidacyStatus.NOT_SELECTED' | translate}}</option>
                        <option value="CANDIDATE_WITHDRAWAL">{{'jhipsterRecruitmentApp.CandidacyStatus.CANDIDATE_WITHDRAWAL' | translate}}</option>
                        <option value="CONTRACT_OFFER">{{'jhipsterRecruitmentApp.CandidacyStatus.CONTRACT_OFFER' | translate}}</option>
                        <option value="HIRED">{{'jhipsterRecruitmentApp.CandidacyStatus.HIRED' | translate}}</option>
                        <option value="RECRUITMENT_POOL">{{'jhipsterRecruitmentApp.CandidacyStatus.RECRUITMENT_POOL' | translate}}</option>
                    </select>
                    <div *ngIf="editForm.get('candidacyStatus').invalid && (editForm.get('candidacyStatus').dirty || editForm.get('candidacyStatus').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('candidacyStatus').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidacy.motivation" for="field_motivation">Motivation</label>
                    <input type="text" class="form-control" name="motivation" id="field_motivation"
                           formControlName="motivation"/>
                    <div *ngIf="editForm.get('motivation').invalid && (editForm.get('motivation').dirty || editForm.get('motivation').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('motivation').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidacy.candidate" for="field_candidate">Candidate</label>
                    <select class="form-control" id="field_candidate" name="candidate" formControlName="candidateId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="candidateOption.id" *ngFor="let candidateOption of candidates; trackBy: trackCandidateById">{{candidateOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.candidacy.vacancy" for="field_vacancy">Vacancy</label>
                    <select class="form-control" id="field_vacancy" name="vacancy" formControlName="vacancyId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vacancyOption.id" *ngFor="let vacancyOption of vacancies; trackBy: trackVacancyById">{{vacancyOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
