<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.candidacy.home.title">Candidacies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidacy" [routerLink]="['/candidacy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.candidacy.home.createLabel">
            Create new Candidacy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="candidacies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidacyStatus"><span jhiTranslate="jhipsterRecruitmentApp.candidacy.candidacyStatus">Candidacy Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="motivation"><span jhiTranslate="jhipsterRecruitmentApp.candidacy.motivation">Motivation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidateId"><span jhiTranslate="jhipsterRecruitmentApp.candidacy.candidate">Candidate</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vacancyId"><span jhiTranslate="jhipsterRecruitmentApp.candidacy.vacancy">Vacancy</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidacy of candidacies ;trackBy: trackId">
                <td><a [routerLink]="['/candidacy', candidacy.id, 'view' ]">{{candidacy.id}}</a></td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidacyStatus.' + candidacy.candidacyStatus}}">{{candidacy.candidacyStatus}}</td>
                <td>{{candidacy.motivation}}</td>
                <td>
                    <div *ngIf="candidacy.candidateId">
                        <a [routerLink]="['../candidate', candidacy.candidateId , 'view' ]" >{{candidacy.candidateId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="candidacy.vacancyId">
                        <a [routerLink]="['../vacancy', candidacy.vacancyId , 'view' ]" >{{candidacy.vacancyId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/candidacy', candidacy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidacy', candidacy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'candidacy', { outlets: { popup: candidacy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="candidacies && candidacies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
