<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="document">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.document.detail.title">Document</span> {{document.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.document.name">Name</span></dt>
                <dd>
                    <span>{{document.name}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.document.filename">Filename</span></dt>
                <dd>
                    <span>{{document.filename}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.document.content">Content</span></dt>
                <dd>
                    <div *ngIf="document.content">
                        <a (click)="openFile(document.contentContentType, document.content)" jhiTranslate="entity.action.open">open</a>
                        {{document.contentContentType}}, {{byteSize(document.content)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/document', document.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
