<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-document-heading" jhiTranslate="jhipsterRecruitmentApp.document.home.createOrEditLabel">Create or edit a Document</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!document.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.document.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.document.filename" for="field_filename">Filename</label>
                    <input type="text" class="form-control" name="filename" id="field_filename"
                           formControlName="filename"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.document.content" for="field_content">Content</label>
                    <div>
                        <div *ngIf="editForm.get('content').value" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(editForm.get('contentContentType').value, editForm.get('content').value)" jhiTranslate="entity.action.open">open</a><br>
                            <span class="pull-left">{{editForm.get('contentContentType').value}}, {{byteSize(editForm.get('content').value)}}</span>
                            <button type="button" (click)="editForm.patchValue({content: null});editForm.patchValue({contentContentType: null});"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_content" (change)="setFileData($event, 'content', false)" jhiTranslate="entity.action.addblob"/>
                    </div>
                    <input type="hidden" class="form-control" name="content" id="field_content"
                           formControlName="content"/>
                    <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                           formControlName="contentContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
