<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-vacancy-heading" jhiTranslate="jhipsterRecruitmentApp.vacancy.home.createOrEditLabel">Create or edit a Vacancy</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!vacancy.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                    <div *ngIf="editForm.get('code').invalid && (editForm.get('code').dirty || editForm.get('code').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('code').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                    <div *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('description').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.creationDate" for="field_creationDate">Creation Date</label>
                    <div class="input-group">
                        <input id="field_creationDate" type="text" class="form-control" name="creationDate" ngbDatepicker  #creationDateDp="ngbDatepicker" formControlName="creationDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="creationDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('creationDate').invalid && (editForm.get('creationDate').dirty || editForm.get('creationDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('creationDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.vacancyStatus" for="field_vacancyStatus">Vacancy Status</label>
                    <select class="form-control" name="vacancyStatus" formControlName="vacancyStatus" id="field_vacancyStatus">
                        <option value="OPEN">{{'jhipsterRecruitmentApp.VacancyStatus.OPEN' | translate}}</option>
                        <option value="ON_HOLD">{{'jhipsterRecruitmentApp.VacancyStatus.ON_HOLD' | translate}}</option>
                        <option value="CLOSED">{{'jhipsterRecruitmentApp.VacancyStatus.CLOSED' | translate}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.characteristics" for="field_characteristics">Characteristics</label>
                    <input type="text" class="form-control" name="characteristics" id="field_characteristics"
                           formControlName="characteristics"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.skills" for="field_skills">Skills</label>
                    <input type="text" class="form-control" name="skills" id="field_skills"
                           formControlName="skills"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.dailyRoutine" for="field_dailyRoutine">Daily Routine</label>
                    <input type="text" class="form-control" name="dailyRoutine" id="field_dailyRoutine"
                           formControlName="dailyRoutine"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.location" for="field_location">Location</label>
                    <input type="text" class="form-control" name="location" id="field_location"
                           formControlName="location"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterRecruitmentApp.vacancy.candidateTypes" for="field_candidateTypes">Candidate Types</label>
                    <select class="form-control" name="candidateTypes" formControlName="candidateTypes" id="field_candidateTypes">
                        <option value="FREELANCE">{{'jhipsterRecruitmentApp.CandidateType.FREELANCE' | translate}}</option>
                        <option value="INTERN">{{'jhipsterRecruitmentApp.CandidateType.INTERN' | translate}}</option>
                        <option value="PAYROLL">{{'jhipsterRecruitmentApp.CandidateType.PAYROLL' | translate}}</option>
                        <option value="STUDENT">{{'jhipsterRecruitmentApp.CandidateType.STUDENT' | translate}}</option>
                    </select>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
