<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="vacancy">
            <h2><span jhiTranslate="jhipsterRecruitmentApp.vacancy.detail.title">Vacancy</span> {{vacancy.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.code">Code</span></dt>
                <dd>
                    <span>{{vacancy.code}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.description">Description</span></dt>
                <dd>
                    <span>{{vacancy.description}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.creationDate">Creation Date</span></dt>
                <dd>
                    <span>{{vacancy.creationDate}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.vacancyStatus">Vacancy Status</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.VacancyStatus.' + vacancy.vacancyStatus}}">{{vacancy.vacancyStatus}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.characteristics">Characteristics</span></dt>
                <dd>
                    <span>{{vacancy.characteristics}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.skills">Skills</span></dt>
                <dd>
                    <span>{{vacancy.skills}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.dailyRoutine">Daily Routine</span></dt>
                <dd>
                    <span>{{vacancy.dailyRoutine}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.location">Location</span></dt>
                <dd>
                    <span>{{vacancy.location}}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterRecruitmentApp.vacancy.candidateTypes">Candidate Types</span></dt>
                <dd>
                    <span jhiTranslate="{{'jhipsterRecruitmentApp.CandidateType.' + vacancy.candidateTypes}}">{{vacancy.candidateTypes}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/vacancy', vacancy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
