<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterRecruitmentApp.vacancy.home.title">Vacancies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-vacancy" [routerLink]="['/vacancy/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="jhipsterRecruitmentApp.vacancy.home.createLabel">
            Create new Vacancy
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="vacancies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="code"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.code">Code</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="description"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.description">Description</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="creationDate"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.creationDate">Creation Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="vacancyStatus"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.vacancyStatus">Vacancy Status</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="characteristics"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.characteristics">Characteristics</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="skills"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.skills">Skills</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="dailyRoutine"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.dailyRoutine">Daily Routine</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="location"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.location">Location</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="candidateTypes"><span jhiTranslate="jhipsterRecruitmentApp.vacancy.candidateTypes">Candidate Types</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vacancy of vacancies ;trackBy: trackId">
                <td><a [routerLink]="['/vacancy', vacancy.id, 'view' ]">{{vacancy.id}}</a></td>
                <td>{{vacancy.code}}</td>
                <td>{{vacancy.description}}</td>
                <td>{{vacancy.creationDate | date:'mediumDate'}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.VacancyStatus.' + vacancy.vacancyStatus}}">{{vacancy.vacancyStatus}}</td>
                <td>{{vacancy.characteristics}}</td>
                <td>{{vacancy.skills}}</td>
                <td>{{vacancy.dailyRoutine}}</td>
                <td>{{vacancy.location}}</td>
                <td jhiTranslate="{{'jhipsterRecruitmentApp.CandidateType.' + vacancy.candidateTypes}}">{{vacancy.candidateTypes}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/vacancy', vacancy.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/vacancy', vacancy.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'vacancy', { outlets: { popup: vacancy.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="vacancies && vacancies.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
